/* Chart y-axis */

/* Actual ticks */
.d3-yaxis-group line {
  fill: none;
  stroke: #000000;
  stroke-width: .3px;
}

/* No 'domain' path */
.d3-yaxis-group path {
  display:none;
}

.d3-yaxis-group text {
  font-family: 'OfficinaSanITC-Book';
  font-size: 7px;
  fill: #000000;
}
